:root {
    --color1: #F47CAC;
    --color2: #007AAE;
    --color3: #00B6FF;
    --color4: #FF99C2;
    --color5: #FDF4E3;
    --color6: #b04d98;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* xa q el padding no afecte al tamaño de los elementos*/
}

header {
    background-color: var(--color2);
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color5);
    width: 100%; /* xa q ocupe todo el ancho */
}

header h2 {
    margin: 0; /* eliminar margen */
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--color2);
    position: sticky;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    padding: 1em;
}

nav ul {
    list-style-type: none; /* lista sin viñetas */
    display: flex; /* lista en linea */
    margin: 0;
    padding: 0;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    font-weight: bold;
    color: var(--color5);
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px; /* espaciado interno */
    border-radius: 5px; /* redondear esquinas */
    transition: all 0.3s ease; /* animacion suave */
}

nav ul li a:hover {
    color: var(--color4); /* cambia de color */
    text-decoration: underline;
}

body {
    background-color: var(--color1);
    font-family: Arial, sans-serif;
    color: var(--color5);
    line-height: 1.6;
    padding: 0;
}

h2 {
    margin: 0; /* elimina el margen */
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* clase especifica */
.fondoArticulo {
    background-color: var(--color6);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* sombreado */
    width: 90%; /* ancho */
}

article {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: var(--color4);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 30em;
    color: var(--color5);
    transition: all 0.3s ease;
    text-align: center;
}

article a {
    color: var(--color5);
    text-decoration: none;
    font-weight: bold;
}

article:hover {
    background-color: var(--color2);
    text-decoration: underline;
    color: var(--color3);
    transform: scale(1.05); /* zoom al pasar por encima*/
}

h3 {
    color: var(--color5);
    font-weight: bold;
    text-align: center;

}

footer {
    background-color: var(--color2);
    padding: 10px;
    text-align: center;
    color: var(--color5);
    font-size: 1rem;
    margin-top: 10px; /* espaciado para separar el contenido */
}

footer a {
    color: var(--color5);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: var(--color4);
}